.btn {
    border: 1px solid white;
    color: white
}
.container {
    padding-top: 20px;
    min-height: 800px;
    background-color: #399E5A;
}

#gamePanel, #gameResult {
    /* border: 1px solid black; */
    padding-top : 20px;
}

#gameResult {
    color: white;
}